.sb-lg{
  @include md-block(){
    justify-content: space-between;
  }
}
.jcc{
  justify-content: center;
}
.jc-sb-md{
  @include md-block(){
    justify-content: space-between;
  }
}
.mr-30{
  margin-right: 30px;
}

.mb-10{
  margin-bottom: 10px;
}
.p-0{
  padding: 0 !important;
}
.align-items-center{
  align-items: center;
}

.mb-20-40{
  margin-bottom: 20px !important;
  @include md-block(){
    margin-bottom: 40px !important;
  }
}

.mb-40-64{
  margin-bottom: 40px;
  @include md-block(){

    margin-bottom: 64px;
  }
}

.mb-0-64{
  margin-bottom: 0;
  @include md-block(){
    margin-bottom: 64px;
  }
}
.mb-20-60{
  margin-bottom: 60px;
  @include md-block(){
    margin-bottom: 20px;
  }
}
.mb-65-85{
  margin-bottom: 65px !important;
  @include md-block(){
    margin-bottom: 85px !important;
  }
}
.pb-65-85{
  padding-bottom: 65px !important;
  @include md-block(){
    padding-bottom: 85px !important;
  }
}
.mb-40-88{
  margin-bottom: 40px;
  @include lg-block(){
    margin-bottom: 88px;
  }
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.d-none{
  display: none !important;
}
.d-sm-block{
  @include sm-block(){
    display: block !important;
  }
}
.d-md-block{
  @include md-block(){
    display: block !important;
  }
}

.d-md-none{
  @include md-block(){
    display: none !important;
  }
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.shift-md-left-6{
  @include md-block(){
    margin-left: calc(50% + 15px) !important;
  }
}
.mb-50{
  margin-bottom: 50px;
}
.mb-0{
  margin-bottom: 0 !important;
}
.pt-48-88{
  padding-top: 48px;
  @include md-block(){
    padding-top: 88px;
    padding-bottom: 1px;
  }
}
.aic-md{
  align-items: center;
}
.js-fe{
  @include md-block(){
    justify-content: flex-end;
  }

}

.as-fe{
  align-self: auto;
  @include sm-block(){
    align-self: flex-end;
  }
}
.mb-40-20{
  margin-bottom: 20px !important;
  @include md-block(){
    margin-bottom: 40px !important;
  }
}
.w-100{
  max-width: 100% !important;
  width: 100% !important;
}
.pb-30{
  padding-bottom: 30px !important;
}
.pb-8{
  padding-bottom: 8px !important;
}
.mb-88-40{
  margin-bottom: 40px;
  @include md-block(){
    margin-bottom: 88px;
  }
}
.pb-64-40{
  padding-bottom: 40px;
  @include md-block(){
    padding-bottom: 64px;
  }
}
.pt-64-40{
  padding-top: 40px;
  @include md-block(){
    padding-top: 64px;
  }
}
.justify-center{
  justify-content: center
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-48-30{
  margin-bottom: 30px;
  @include md-block(){
    margin-bottom: 48px;
  }
}
.mb-88-40{
  margin-bottom: 40px;
  @include md-block(){
    margin-bottom: 88px;
  }
}
.mb-68-40{
  margin-bottom: 40px !important;
  @include md-block(){
    margin-bottom: 68px !important;
  }
}