.page-slider{
.page-slide__item{
  margin-bottom: 12px;
  @include md-block(){
    margin-bottom: 25px;
  }
  img{
    display: block;
    width: 100%;
  }
}

  .nav-slider {
    justify-content: center;
    @include xs-block(){
      justify-content: flex-end;
      align-items: center;
    }
    .swiper-button-next, .swiper-button-prev{
      display: none;
      @include xs-block(){
        display: flex;
      }
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        background: $gray;
        &:not(:last-child){
          margin-right: 4px;
        }
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
        width: 8px;
        height: 8px;
        background: $green;
      }
    }

  }
}